.text{
    border: 1px solid rgb(214, 214, 214);
    padding: 10px 24px ;
    width: fit-content;
    font-family: Arial, sans-serif;
}
p{
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;


}
.text3{
    background-color: antiquewhite;
    padding: 10px 20px;
}
span{
  font-weight: bold; 
}