*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.container{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}
header{
   width: 30%;
   background-color:#f1f1f1;
   height: 100vh;
   /* text-align: center; */
   margin: auto;
   
}
nav {
    padding-top: 20px;
}
 a{
    text-decoration: none;
    font-size: 18px;
    display: #000;
    color: rgb(42, 41, 41);
    
}

li:hover{
    background-color:#4CAF50; 
    color: #fff;
}
li:hover a {
    color: #fff;
}
li{
  list-style: none;
  padding: 10px 20px;
}
main{
    width: 70%;
    padding: 40px;
}
main p{
  font-size: 18px;
  text-transform: capitalize;
}